<% provide(:title, 'Dashboard') %>
<h1>Dashboard</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
			<th>Price</th>
			<th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.name %></td>
        <td><%= upload.description %></td>
				<td><%= upload.price %></td>
				<td><%= upload.current_status %></td>
				<td>
					<% if upload.current_status != "Payed" %>
						<%= link_to "Pay here", upload_pay_path(upload), class: "btn btn-xs btn-primary" %>
					<% end %>
				</td>
				</form>
      </tr>
    <% end %>
  </tbody>
</table>

